/*
Mise en page générale avec display grid

*/

.site {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    row-gap: 50px;
    color: antiquewhite;

    @media screen and (min-width: 1000px) {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside aside"
        "main main"
        "footer footer";

    }
  }

.site__entete{
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: #333;
}

.site__main{
    grid-area: main;
    background-color: #333;
}

.site__footer{
    grid-area: footer;
    background-color: black;
}

.site__aside{
    grid-area: aside;
    background-color: aliceblue;
}


/*body{
    background-color: #333;
    color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .articles{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    background-color: darkgray;
    color: #333;
    padding: 1rem;
}

main .articles article {
    border-bottom: 1px solid #333;
}

main .articles a {
    text-align: center;
    text-decoration: none;
    color: darkslategray;
    transition: scale 0.12s;
}
article a h3:hover {
    scale: 1.05;
    text-decoration: underline aliceblue;
    color: aliceblue;
}*/