pre {
    display: none;
}

.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    @media screen and (min-width: $largeur__bureau) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media screen and (min-width: $largeur__tablette) {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.blocflex > a {
    color: antiquewhite;
    text-decoration: none;
    flex : 1 0 250px;
    padding : 10px;
}

.blocflex__article {

    border : 0.35rem solid aliceblue;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
    transition: transform 0.1s linear;
    height: 100%;

    h5{
        text-transform: capitalize;
    }
}

.blocflex__article:hover{
    transform: scale(1.1);
}

.blocflex__galerie{
    flex: 1 0 100%;
}

.bloc__viewport {
    .menu-item{
        background-color: crimson;
    }
}

.wp-block-gallery {
    //width: 40vw;
}