header h1, header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.entete__nav{
    display : flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    overflow-x: hidden;

}

.nav-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.site__titre{
    font-size: clamp(1rem, 0.2869rem + 2.4545vw, 4.375rem);

    a{
        text-decoration: none;
        color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav
    transition: transform .5s;
    transform: translateX(300px);
    @media screen and (min-width: $largeur__tablette) {
        display: block;
        transform: translateX(0px);
    }
    .menu { // ul
        display : flex;
        list-style-type: none;
        justify-content: flex-end;
        
        .menu-item { // li

            a{
                padding: none;
                color: antiquewhite;
                text-decoration: none;
                transition: scale 0.15s, text-shadow 0.15s;
                @media screen and (min-width: $largeur__tablette) {
                    padding : 3px 8px;
                }
            }
            a:hover{
                color: aliceblue;
                scale: 1.15;
                text-decoration: underline aliceblue;
                text-shadow: 0px 0px 10px aliceblue;
            }

        }
        .menu-item::before {
            content: "";
            background: transparent;
            border-radius: 0;            
            @media screen and (min-width: $largeur__tablette) {
                padding-inline: 0;
                margin-inline-end: 0;
            }
        }
    }
}

////////////////// Logo
.custom-logo-link {
    display: flex;
    justify-content: center;
}

.custom-logo-link img {
    border-radius: 45%;
    box-shadow: 1px 1px 12px #000;
    transition: box-shadow 0.5s, scale 0.25s;
}

.custom-logo-link img:hover {
    scale: 1.1;
    box-shadow: 1px 1px 30px rgb(156, 156, 156);
}

/* -------------------------------------------------------------Bouton burger */

.burger {
    transition: transform .5s;
    @media screen and (min-width: $largeur__tablette) {
        display: none;
    }
}

#chkBurger {
    display: none;
}

#chkBurger:checked ~ .menu__entete {
    display: block;
    transform: translateX(0);
}