////////////////// Logo
.site__footer {
    padding-top: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.section__footer .custom-logo-link img {
    border-radius: 45%;
    box-shadow: 1px 1px 12px #000;
    scale: 0.5;
    transition: box-shadow 0.5s, scale 0.25s;
}

.section__footer .custom-logo-link img:hover {
    scale: 0.75;
    box-shadow: 1px 1px 30px rgb(156, 156, 156);
}

.section__footer {
    
}

.menu__footer{ // nav
    transition: transform .5s;
    transform: translateX(300px);
    color: antiquewhite;
    @media screen and (min-width: $largeur__tablette) {
        display: block;
        transform: translateX(0px);
    }
    .menu { // ul
        text-align: center;
    }

    li { // li
        text-align: end;
        padding: none;
        text-decoration: none;
        transition: scale 0.15s, text-shadow 0.15s;

        @media screen and (min-width: $largeur__tablette) {
            padding : 3px 8px;

        }
    }
    li:hover{
        color: aliceblue;
        scale: 1.15;
        text-decoration: underline aliceblue;
        text-shadow: 0px 0px 10px aliceblue;
    }

    ul li {
        text-align: center;
    }

    .menu-item::before {
        content: "";
        background: transparent;
        border-radius: 0;            
        @media screen and (min-width: $largeur__tablette) {
            padding-inline: 0;
            margin-inline-end: 0;
        }
    }
}