.menu-atelier-container {

    #menu-atelier { //ul

        .menu-item { //li
            width: 15vw;
            height: 20vh;
            
            a {
                
                .menu-thumbnail {
                    max-width: 15vw;
                    max-height: 12vh;
                }
            } 
        } 
    } 
}