.menu-evenement-container {
    background-color: #333;
    border: 2px solid crimson;
    .menu{
        display: flex;
        justify-content: space-between;

        .menu-item{
            display: flex;
            flex-direction: column;
            
            a{
                color: crimson;
            }
        }

    }
}