.menu-4w4-container {
    display: flex;
    justify-content: center;

    @media screen and(min-width: $largeur__bureau) {
        justify-content: flex-start;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;

        @media screen and(min-width: $largeur__bureau) {
            display: block;
    
        }

        .menu-item{
            padding: 0.5rem;
            width: 8rem;
            border: 1px solid #aaa;
            text-align: center;
            margin-right: 1rem;
            a{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                @media screen and(min-width: $largeur__bureau) {
                    flex-direction: column;
                }

                code{

                }

                p{
                    display: none;
                    
                    @media screen and(min-width: $largeur__bureau) {
                        display: block;
                    }
                }
            }
        }
    }
}