.menu-cours-container {
    display: flex;
    justify-content: center;

    @media screen and(min-width: $largeur__bureau) {
        justify-content: flex-start;
    }

    .menu{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;

        @media screen and(min-width: $largeur__bureau) {
            display: block;
        }

        .menu-item{
            border: 1px solid #aaa;
            text-align: center;
            margin: 0.25rem;

            @media screen and(min-width: $largeur__bureau) {
                padding: 0.5rem;
                padding-right: 0;
            }

            a{
                color: aliceblue;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                text-decoration: none;

                @media screen and(min-width: $largeur__bureau) {
                    flex-direction: row;
                }

                code{

                }

                p{
                    display: none;
                    margin-left: 1rem;
                    
                    @media screen and(min-width: $largeur__bureau) {
                        display: block;
                    }
                }
            }
        }
    }
}