ul, ol {
  margin: 1rem 0rem;
  padding : 7px;
  color : #444;
  list-style-type : none;
  @media screen and (min-width: $largeur__bureau) {
      margin : 1rem .5rem; 
      padding : 0 13px;
    }
  @media screen and (min-width: $largeur__tablette) {
      margin : 1rem .5rem; 
      padding : 0 15px;
  }
}



ul {
  list-style-type: square;
}

ul li, 
ol li {
    margin: .5rem 0rem;
    border: 1px solid #aaa;
}


ul   li::before {
  border-radius: 50%;
  padding-inline: .3rem;
  margin-inline-end: .3rem;
  width: 1rem;
  height: 1rem;
  ul li li::before
  {
    background: transparent;
    content: ".";
  }

  ul li, ol li {
      margin: 0.5rem 0rem;
  }
}

a{
  color: #aaa;
}

pre {
  background-color : #555;
  color : #eee;
  overflow-x: scroll;
  text-align: left;
}
code {}

strong{}

hr {}

blockquote {

}